<div class="view_wrapper">

  <%= form_for :post, url: posts_path do |f| %>

    <label for="first_name">Title of Post</label>
    <input placeholder= "What's the Title ?" id="first_name" type="text" class="validate">

    <i class="material-icons prefix">mode_edit</i>
    <label for="icon_prefix2">Message</label>
    <textarea placeholder= 'Write Something...' id="icon_prefix2" class="materialize-textarea"></textarea>

    <button class="submit btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">done</i>
    </button>

  <% end %>  
</div>  