/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.category{
  font-size: 16px;
  text-decoration: none;
  color: #1a75ff;
  padding-left: 70px;
}


.side_links{
  font-weight: lighter;
  padding-left: 100px;
  font-size: 14px;
}

#sidebar{
   line-height:30px;
   background-color:#eff2f5;
   height:645px;
   float: left;
   padding:5px;  
}

.header{
  margin-left: 240px;
  color:white;
  text-align:center;
  padding:30px;
  height: 50px;
}

.page_wrapper{
  padding-left: 30px;
  margin-top: 50px;
  width:950px;
  height: 400px;
  color: black;
    
}

.post_wrapper{
  margin-left: 300px;
  margin-right: 700px;
  border-bottom: dashed 2px #b3d1ff;
  width:800px;
}

.view_wrapper{
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 700px;
  width:800px;
}

.sign_in{
  color: black !important;
  font-weight: bold !important;
  font-weight: lighter !important;
}

#about{
  color: #66a3ff;
}

.title{
  font-size: 22px;
  color:black;
}

.date{
  color:black;
}

a:link {
    text-decoration: none !important;
    color: #66a3ff;
}

a:visited {
    text-decoration: none !important;
    color: #66a3ff;
}

a:hover {
    text-decoration: none !important;
    font-weight: bold;
}

a:active {
    text-decoration: none !important;
}


#all_posts{
  font-size: 20px;
  font-weight: lighter;
  float: left;
  color: black;

}

.button{
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  float: right;
  
}

.submit{
  float: right;
  background-color: #b3d1ff !important;
}





