/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Raleway', sans-serif;
  background-color: #e6ffff;
}

p{
  color: #006666;
}

.side-nav{
  background-color: #006666 !important;
  width: 200px !important;
}

.category{
  font-size: 16px;
  text-decoration: none;
  color: #b3ffb3 !important;
  padding-left: 50px;
}


.side_links{
  font-weight: lighter;
  padding-left: 70px;
  font-size: 14px;
}

.side_links a{
  color: #e6ffe6 !important;
}

.header{
  margin-left: 240px;
  color: white;
  text-align: center;
  padding: 30px;
  height: 50px;
}

.header a{
  color: #008000 !important;
}

#header_border{
border-bottom:  #006666  1px solid;
padding-top: 50px;
}

.page_wrapper{
  padding-left: 30px;
  margin-top: 50px;
  width: 950px;
  height: 400px;
  color: black;
}

.post_wrapper{
  margin-left: 300px;
  margin-right: 700px;
  border-bottom: dashed 1px #006666;
  width: 800px;
}

.view_wrapper{
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 700px;
  width: 800px;
}

.title{
  font-size: 26px;
  color: #006666;
}

.date{
  color: black;
}

a:link {
    text-decoration: none;
    color: #006666;
}

a:visited {
    text-decoration: none;
    color: #006666;
}

a:hover {
    text-decoration: none !important;
    font-weight: bold;
}

a:active {
    text-decoration: none !important;
}


#all_posts{
  font-size: 20px;
  font-weight: lighter;
  float: left;
  color: white !important;

}

.button{
  outline: none;
  background: transparent;
  border: 1px solid #008000;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  float: right;
  
}

.submit{
  float: right;
  background-color: #006666 !important;
  color: white !important;
  border-radius: 2px;
}

.post_header{
  color: #006666;
}

.comment_name{
  padding-top: 10px;
  color: #006666;
  font-weight: bolder;
  font-size: 12px;
}

.comment_body{
  font-size: 16px; 
}

.comment_time{
  font-size: 12px;

}

.border{
  border-bottom: dashed 2px #006666 !important;
  padding-top: 50px;
}

.comment_header{
  font-size: 18px;
  color: #006666;
}

.login_label{
  color: #006666 !important;
}

.post_body{
  font-size: 20px;
}
